exportPattern("^[[:alpha:]]+")
import(geepack)
import(survival)
import(lmerTest)
import(multcomp)
import(nortest)
importFrom("grDevices", "dev.copy", "dev.off", "pdf")
importFrom("graphics", "abline", "axis", "barplot", "boxplot", "hist", "layout", "lines", "mtext", "par", "points", "text")
importFrom("stats", "aggregate", "aov", "as.formula", "binomial", "chisq.test", "coef", "complete.cases", "confint", "confint.default", "gaussian", "glm", "kruskal.test", "lm", "logLik", "pchisq", "pf", "qnorm", "quantile", "sd", "shapiro.test", "t.test", "update", "wilcox.test", "dnorm", "fisher.test")
S3method(print, s_tab_display)
S3method(print, s_summarize_display)
S3method(print, s_model_display)
importFrom("utils", "capture.output", "write.table")